* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #ececec;
}

.auth-container {
  width: 100%;
  min-height: 100vh;
  background: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.auth-card {
  width: 1000px;
  min-height: 400px;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  background: white;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}

.auth-left {
  width: 52%;
  padding: 55px 70px;
  background: white;
}

.logo {
  color: #5f5dfc;
  margin-bottom: 30px;
  font-size: 34px;
  font-weight: 700;
}

.auth-left h1 {
  font-size: 44px;
  color: #222;
  margin-bottom: 10px;
}

.subtitle {
  color: #777;
  margin-bottom: 25px;
}

.subtitle a {
  color: #1d5d3f;
  font-weight: 600;
  text-decoration: none;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form label {
  margin-bottom: 8px;
  margin-top: 18px;
  font-size: 14px;
  color: #555;
}

.auth-form input {
  height: 52px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 0 18px;
  font-size: 15px;
  outline: none;
}

.auth-form input:focus {
  border-color: #051227;
}

.options label {
  display: flex;
  gap: 8px;
  align-items: center;
}

.signup-btn {
  height: 55px;
  border: none;
  background: #5f5dfc;
  color: white;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

.signup-btn:hover {
  background: #051227;
}

.divider {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 30px 0;
}

.divider span {
  flex: 1;
  height: 1px;
  background: #ddd;
}

.divider p {
  color: #888;
  font-size: 13px;
}

.social-btn {
  height: 52px;
  margin-bottom: 5px;
  border-radius: 50px;
  border: 1px solid #ddd;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
  font-size: 15px;
}

.social-btn img {
  width: 24px;
}

.auth-right {
  width: 48%;
  background: #051227;
  color: white;
  position: relative;
  overflow: hidden;
  padding: 70px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promo-card {
  width: 360px;
  background: white;
  color: #222;
  padding: 30px;
  border-radius: 15px;
  z-index: 2;
}

.promo-card h2 {
  font-size: 34px;
  line-height: 1.2;
  color: #051227;
}

.promo-card p {
  color: #666;
  margin: 10px 0;
  line-height: 1.7;
}

.feature-content {
  margin-top: 30px;
  z-index: 2;
}

.feature-content h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.feature-content p {
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.75);
}

@media (max-width: 992px) {
  .auth-card {
    flex-direction: column;
    width: 100%;
  }

  .auth-left,
  .auth-right {
    width: 100%;
  }

  .auth-left {
    padding: 40px;
  }

  .auth-right {
    padding: 50px 40px;
  }

  .promo-card {
    width: 100%;
  }
}
